
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../../Style/l_styles.css">
</head>
<body>

<div class="login_card">
    <img id="logo" href="/Style/logo.png">
    <h1 id="titulo">Acceso</h1>

    <input type="text" id="ingresar" placeholder="Usuario">
    <input type="password" id="contrasena" placeholder="Contraseña">

    <button id="btnlogin">Login</button>
</div>

<script src="../../Code/login.js"></script>
</body>
</html>