
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../Style/l_styles.css">
</head>
<body>

<div class="login_card">
    <img src="../../Style/logo.png" width="200px">
    <h1 id="titulo">Accede a OliveHRM</h1>

    <input type="text" id="ingresar" placeholder="Usuario">
    <input type="password" id="contrasena" placeholder="Contraseña">

    <button id="btnlogin">Login</button>
</div>

<script src="../../Code/login.js"></script>
</body>
</html>