
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../Style/Olive_style.css">
</head>
<body>

<div class="loginCard">
    <img src="../../Style/logo.png" width="200px" class="bigLogo">
    <h1>Accede a OliveHRM</h1>

    <input type="text" id="L_ingresar" placeholder="Usuario">
    <input type="password" id="L_contrasena" placeholder="Contraseña">

    <button>Login</button>
</div>

<script src="../../Code/login.js"></script>
</body>
</html>