<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../../Style/registro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet">

</head>
<body>

<div class="registro">
    <h1>Nuevo usuario</h1>

    <input type="text" id="nombre" placeholder="Nombre">
    <input type="text" id="f_nacimiento" placeholder="Fecha nacimiento">
    <input type="text" id="email" placeholder="Email">
    <input type="text" id="direccion" placeholder="Dirección">
    <input type="text" id="usuario" placeholder="Username">
    <input type="password" id="contrasena" placeholder="Contraseña">

    <button id="guardar">Guardar</button>
    <button id="cancelar">Cancelar</button>
</div>

<script src="../../Code/crear_usuario.js"></script>
</body>
</html>