<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../../Style/Olive_style.css">

</head>
<body>

<div class="loginCard">
    <div class="PgHead">
        <img src="../../Style/logo.png" width="80px">
        <h2>Nuevo usuario</h1>
    </div>
    

    <input type="text" id="nombre" placeholder="Nombre">
    <input type="text" id="FechaNac" placeholder="Fecha de Nacimiento" 
        onfocus="(this.type='date')" 
        onblur="if (!this.value) this.type='text'">
    <input type="text" id="email" placeholder="Email">
    <input type="text" id="direccion" placeholder="Dirección">
    <input type="text" id="usuario" placeholder="Username">
    <input type="password" id="contrasena" placeholder="Contraseña">
    <select id="Equipo">
        <option value="Equipo Ejemplo">Equipo Ejemplo</option>
    </select>
    <select id="Departamento">
        <option value="IT">Information Technology</option>
    </select>

    <button id="Reg_guardar">Guardar</button>
    <button id="Reg_cancelar" class="btnlite">Cancelar</button>
</div>

<script src="../../Code/crear_usuario.js"></script>
</body>
</html>