* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background-color: #4b533a;
    padding-bottom: 40px;
}

.titulo {
    background: white;
    padding: 20px;
    text-align: center;
}

.titulo h1 {
    margin: 0;
    color: #4b533a;
}

section {
    background: rgb(242, 234, 220);
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card_busqueda input {
    width: 48%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#btnBuscar, #btnregistrar {
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    background-color: #4b533a;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#btnBuscar:hover, #btnregistrar:hover {
    background-color: #3a412d;
}

#btnregistrar {
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #4b533a;
}
   



td button {
    border: none;
    background: #b02a37;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}

td button:hover {
    background: #842029;
}