body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4b533a;
    font-family: Arial, sans-serif;
}

.registro {
    background: white;
    width: 260px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.registro h1 {
    text-align: center;
    margin: 0 0 10px 0;
    color: #4b533a;
}

.registro input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

#guardar, #cancelar {
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

#guardar {
    background-color: #4b533a;
    color: white;
}

#guardar:hover {
    background-color: #3a412d;
}

#cancelar {
    background-color: #6c757d;
    color: white;
}

#cancelar:hover {
    background-color: #565e64;
}

@media (min-width: 700px){
    .registro{
        width: 360px;
    }
}