<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de control Admin</title>
</head>
<body>
<div class="registro">
        <h1>Registro</h1>
        <input type="text" id="nombre" placeholder="Ingresa tu nombre: ">
        <input type="text" id="f_nacimiento" placeholder="Ingresa tu fecha de nacimiento: ">
        <input type="text" id="email" placeholder="Ingresa tu correo: ">
        <input type="text" id="direccion" placeholder="Ingresa tu dirección: ">
        <input type="text" id="usuario" placeholder="Usuario nuevo: ">
        <input type="text" id="contraseña" placeholder="Crea una contraseña"> </div>
</body>