<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avance de proyecto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap" rel="stylesheet">
</head>
<body>

    <div class="login_card">
    <img id="logo" src="logo.png">
    <h1>Login</h1>
   <input type="text" id="ingresar" placeholder="Ingresa tu usuario: ">
        <input type="text" id="contraseña" placeholder="Ingresa tu contraseña: ">
            <button id="btnlogin">Login</button>
                <button id="btnregistrar">Registrate</button>
                    <a id="link_empleado" href="empleado.html">Login Empleado</a>
                      <a id="link_admin" href="admin.html">Login Admin</a>
                        <ul id="lista"></ul>
    </div>
    

    


    <link rel="stylesheet" href="../Style/l_styles.css">
</body>
</html>