<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Empleados</title>
    <link rel="stylesheet" href=".../Style/l_styles.css">
</head>
<body>
    <header>Home</header>

    <nav class="nav">
        <a href="empleado.html">Inicio</a>
        <a href="E_Proyectos.html">Proyectos Próximos</a>
        <a href="E_Contactos.html">Contactos de equipo</a>
    </nav>

    <main class="contenedor">
        <section class="card">
            <h1>Horas Completadas</h1>
        </section>
        <section class="card">
             <h1>Proyectos Terminados</h1>
        </section>
        <section class="card">
             <h1>Calendario</h1>
        </section>
    </main>

    <script src="empleado.js"></script>
</body>