<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Empleados</title>
    <link rel="stylesheet" href="../../Style/e_style.css">
</head>
<body>
    <section id="header">
        <img src="../../Style/logo.png" width="100px">
        <h1>Dashboard</h1>
        <div class="div">
            <ul id="nav">
                <li><p><b>Dashboard</b></p></li>
                <li><a href="#">Proyectos</a></li>
                <li><a href="#">Equipo</a></li>
                <li><a href="#">Perfíl</a></li>              
            </ul>
        </div>
    </section>

    <div class="contenedor">
        <div class="card">
            <div class="cardttl">
                <h1>Horas Completadas</h1>
            </div>
            <div class="innerbox"> 
                <div class="ibt">29/01/26 -------------- 8hr</div>
                <div class="ibt"><br>30/01/26 --------------- 0hr</div>
                <div class="ibt"><br>31/01/26 --------------- 0hr</div>
                <div class="ibt"><br>01/02/26 --------------- 8hr</div>
            </div>
        </div>
        <section class="card">
             <div class="cardttl">
                <h1>Proyectos Terminados</h1>
            </div>
             <div class="innerbox">
                <div class="ibt">Proyecto 1: 29/01/26</div>
                <div class="ibt"><br>Proyecto 2: 01/02/26</div>
            </div>
        </section>
        <section class="card">
            <div class="cardttl">
                <h1>Calendario</h1>
            </div>
            <div class="innerbox">
                <img src="../../Style/sample-calendar.png" width="200px">
            </div>
        </section>
        <section class="card">
            <div class="cardttl">
                <h1>Salario</h1>
            </div>
            <div class="innerbox">
                <div>
                    <div class="ibt">Salario bruto: $1000</div>
                    <div class="costFormat">
                        <p><br>Iva:</p>
                        <p><br>-$16</p>
                        <p>Salario:</p>
                        <h4>$984</h4>
                    </div>
                </div>
            </div>
        </section>
    </div>

    

    <script src="empleado.js"></script>
</body>