<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Equipo</title>
    <link rel="stylesheet" href="../../Style/Olive_style.css">
</head>
<body>
    <section class="header">
        <div class="PgHead">
            <img src="../../Style/logo.png" width="100px" class="logo">
            <h1>Equipo</h1>
        </div>
        <div class="div">
            <ul class="nav">
                <li><a href="empleado.html">Dashboard</a></li>
                <li><a href="proyectos.html">Proyectos</a></li>
                <li><p><b> Equipo </b></p></li>
                <li><a href="perfil.html">Perfíl</a></li>              
            </ul>
        </div>
    </section>
    
    <div class="container">
        <div class="bigCard">
            <div class="cardttl">
                <h1>Equipo ejemplo</h1>
            </div>
            <p><br><b>Líder: </b><div id="Eq_lead">Damián Reza</div></p>
            <p><b>Departamento</b>: <div id="Eq_dept">Information Technology</div></p>
            <p><b>Número de integrantes:</b> <div id="Eq_Qnt">1</div></p>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Posición</th>
                        <th>Contacto</th>
                    </tr>
                </thead>
                <tbody class="table2"></tbody>
            </table>
        </div>
    </div>
</body>
</html>