<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre tí</title>
    <link rel="stylesheet" href="../../Style/Olive_style.css">
</head>
<body>
    <section class="header">
        <div class="PgHead">
            <img src="../../Style/logo.png" width="100px" class="logo">
            <h1>Tu Perfíl</h1>
        </div>
        <div class="div">
            <ul class="nav">
                <li><a href="empleado.html">Dashboard</a></li>
                <li><a href="proyectos.html">Proyectos</a></li>
                <li><a href="equipo.html">Equipo</a></li>
                <li><p><b> Perfíl </b></p></li>              
            </ul>
        </div>
    </section>
    
    <div class="container">
        <div class="bigCard">
            <div class="cardttl">
                <h1>[Nombre Empleado]</h1>
            </div>
            <img src="pfp.webp" class="pfp" alt="[foto de perfíl]" width="200px">
            <p><br><b>Posición: </b><div id="pf_pos">Ejemplo posición</div></p>
            <p><b>Departamento</b>: <div id="pf_dept">Information Technology</div></p>
            <p><b>Contacto: </b> <div id="pf_call">empleado.ejemplo@empresa.com</div></p>
            
        </div>
    </div>
</body>
</html>