<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tus proyectos</title>
    <link rel="stylesheet" href="../../Style/Olive_style.css">
</head>
<body>
    <section class="header">
        <div class="PgHead">
            <img src="../../Style/logo.png" width="100px" class="logo">
            <h1>Proyectos</h1>
        </div>
        <div class="div">
            <ul class="nav">
                <li><a href="empleado.html">Dashboard</a></li>
                <li><p><b> Proyectos </b></p></li>
                <li><a href="equipo.html">Equipo</a></li>
                <li><a href="perfil.html">Perfíl</a></li>              
            </ul>
        </div>
    </section>

    <div class="container">
        <div class="bigCard">
            <div class="cardttl">
                <h1>Búsqueda</h1>
            </div>
            <input type="text" id="E_buscarProyecto" placeholder="nombre de proyecto">
            <input type="text" id="A_buscarNombre" placeholder="ID de proyecto">
            
        </div>
    </div>
    
    <div class="container">
        <div class="bigCard">
            <div class="cardttl">
                <h1>Proyecto actual</h1>
            </div>
            <p><br><b>Name: </b><div id="P_name">Proyecto ejemplo</div></p>
            <p><b>Descripción</b>: <div id="P_desc">Descripción ejemplo</div></p>
            <p><b>Fecha de Inicio:</b> <div id="P_iDate">1/1/2026 - 12:00am</div></p>
            <p><b>Fecha de Finalización:</b> <div id="P_eDate">2/1/2026 - 12:00am</div></p>
            <p><b>Líder: </b><div id="P_lead">Damián Reza</div></p>
        </div>
    </div>
</body>
</html>